@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.containervolley .sgrlogo:before {
  background: #000D2D !important;
}

.containervolley .boxhometeam, .containervolley .boxawayteam, .containervolley .boxservice {
  background: #000D2D;
}

.containervolley .boxhometeam, .containervolley .boxawayteam {
  font-family: 'Arial';
  font-size: .6em;
  color: white;

  position:relative;
  padding: 0 2vw 0 8vw;
}
.containervolley .boxhometeam:after, .containervolley .boxawayteam:after {
  content:""; 
  display: block; 
  position:absolute; 
  top:0; left:0; bottom:0; 
  width: 4vw;
}

.containervolley .boxhometeam:after {
  background: #E34714;
}
.containervolley .boxawayteam:after {
  background: #04BF9D;
}


.containervolley .okservice {width:.5em; height:.5em;}


.labelpoints, .boxhomepoints, .boxawaypoints {
  background: #000D2D;
  color: white;
  padding: 13px;
  
}

.labelsets, .boxhomesets, .boxawaysets {
  background: #E34714;
  color: #000000;
  font-weight: bold;
  font-size: .7em;
  width: 100%;
  padding: 15px;
}

.labelsets, .labelpoints {
  display:none;
}

.containervolley {
  grid-template: auto / 16vw auto 8vw 6vw 12vw;
}

.containervolley .boxservice {
  grid-column: 3/4;
}

.containervolley .boxhometeam, .containervolley .boxawayteam {
  grid-column: 2/3;
}

.labelpoints, .boxhomepoints, .boxawaypoints {
  grid-column: 5/6;
}

.labelsets, .boxhomesets, .boxawaysets {
  grid-column: 4/5;
}

.boxhomepoints {
  font-size: .7em;
  border-top-right-radius: 4vw;
}
.boxawaypoints {
  font-size: .7em;
  border-bottom-right-radius: 4vw;
}
.containervolley .sgrlogo:before {
  border-bottom-left-radius: 4vw;
  border-top-left-radius: 4vw;
}

body {background:#333;}
.containervolley {margin: 10px 10px;}